<section>

  <h1 class="display-5" align ="center">List Tasks</h1>

  <table class="table table-bordered">
  <thead>
    <tr>
      <th>Sno</th>
      <th>name</th>
      <th>course</th>
      <th>Created Date</th>

    </tr>
  </thead>
  <tbody id="task-table">
    <tr *ngFor ="let task of tasks;let i=index" >
      <td>{{i+1}}</td>
      <td>{{task | json}}</td>
      <td>{{task.name}}</td>
      <td>{{task.status | uppercase}}</td>
<td>{{task.created_date |date :'dd-MM-yyyy' }}</td>


    </tr>
  </tbody>

</table>
<a routerLink="/add-course" class="btn btn-info"><i class="fa-solid fa-plus"></i> Add course </a>

</section>
